body {
    font-family: "メイリオ";
    margin: 0;
    padding: 0;
    color: 	#545454;
}

h1{
    font-size: 50px;
    margin: 20px 0 0 0;
    text-align: center;
}

h2 {
    margin-bottom: 4px;
    margin-top: 50px;
}

section {
    margin: 0 auto;
    width: 850px;
}

table {
    border-collapse: collapse;
    width: 850px;
}

table th{
    width: 170px;
}

tr {
    height: 50px;
}

th {
    text-align: left;
}

th, td{
    padding-left: 15px;
}

label {
    padding-bottom: 10px;
}



textarea {
    resize: none;
}

.required {
    padding-left: 5px;
    font-size: small;
    color: red;
}

.wrap {
    background-color: white;
    margin: 0 auto;
    width: 1200px;
}

.question {
    height: 150px;
}

.submit {
    margin-top: 20px;
    margin-left: 300px;
    width: 180px;
    height: 45px;
    font-size: 20px;
}

.text {
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.input_text {
    height: 22px;
}

.area {
    border: none;
    background-color: white;
}
